body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size:medium;
    background-color: aliceblue;
  }

  #container {
    border: 1px solid #558C8C;
    background-color: rgb(236, 236, 236);
  }

  #menu {
    display: none;
    position: absolute;
    width: 90px;
    background-color: white;
    box-shadow: 0 0 5px grey;
    border-radius: 3px;
  }

  #menu button {
    width: 100%;
    background-color: white;
    border: none;
    margin: 0;
    padding: 10px;
  }

  #menu button:hover {
    background-color: lightgray;
  }

  #tool{
    padding: 1%;
    margin: 2%;
  }

  h3{
    color: #231123;
    font-weight: bold;
  }

  .jumbotron{
    background-color: #558C8C;
    color: #231123;
  }